body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}
.CanvasContainer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50vh;
}
.ToolsContainer {
    display: flex;
    justify-content: center; 
    height: 50vh;     
}
canvas {
    image-rendering: pixelated;
    border: 1px solid black;
    background-color: white;
}
