body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}
.CanvasContainer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50vh;
}
.ToolsContainer {
    display: flex;
    justify-content: center; 
    gap: 7px;
}
.ToolButton {
    background-color: black;
    border: none;
    cursor: pointer;
}
.ToolIcon {
    background-color: grey;
    padding: 2px;
    width: 32px;
    height: 32px;
}

.ToolButton:hover .ToolIcon {
    background-color: whitesmoke;
    border-color: white;
    border: 3px solid white;
}

.ToolButton.active .ToolIcon {
    background-color: whitesmoke;
    border-color: white;
    border: 1px solid white;
}

canvas {
    image-rendering: pixelated;
    border: 1px solid black;
    background-color: white;
}
